/*BASIC PAGE STYLE*/

/*@author Ahmed Saad <a7mad.sa3d.2014@gmail.com>*/

html {
  position: relative;
  min-height: 100%;
}

body{
  /* Margin bottom by footer height */
  /*margin-bottom: 30px;*/
  /*background: #999*/
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 10px 0;
	/* Set the fixed height of the footer here */
	/*height: 30px;*/
	background-color: #f5f5f5;
	border-top: 1px solid lightgrey;
	text-align: center;
	left: 0px;
	right: 0px;
}

.container{
	margin: 0 auto;
	padding: 10px;
}

.clear-fix:before, .clear-fix:after{
	content: "";
	display: table;
	clear: both;
	#zoom: 1;
}

@media (min-width:320px) and ( max-width:639px ) {
 /* smartphones, iPhone, portrait 480x320 phones */
	.container
	{
		width: 292px;
		/*background: red;*/
	}
}

@media (min-width:640px) {
 /* smartphones, iPhone, portrait 480x320 phones */
	.container
	{
		width: 584px;
		/*margin: 0 auto;*/
		/*background: blue;*/
	}
}



label{
	display: inline-block;
	width: 150px;
	color: #888;
	line-height: 30px
}

.block {
	width: 250px;
	background: #ededed;
	padding: 4px 10px;
	float: left;
	/*height: 350px;*/
	margin: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	position: relative;
	box-shadow: 1px 1px 15px 0px rgba( 20, 20, 20, .3 );
}

div h4
{
	text-align: center;
	background: #dedede;
	color: #666;
	border: 1px solid #ccc;
	border-bottom-width: 2px;
	border-radius: 3px;
	padding: 5px;
	margin: 10px 0 20px;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.info
{
	margin-top: 20px;
	border: 1px solid #bbb;
	border-radius: 8px;
	height: 120px;
	background: rgba( 200, 200, 200, .2 );
	box-shadow: inset 0px 0px 6px 2px rgba( 150, 150, 150, .2 );
	padding: 8px;
	text-align: center;
}

.info:before{
	content: 'Options';
	color: #999;
	letter-spacing: 2px;
	text-transform: uppercase;
}

ul{
	padding: 0px;
	list-style-type: none;
	/*text-align: center;*/
}

li{
	color: rgb( 100, 100, 100 );
	float: left;
	width: 50%;
	padding: 2px 0;
	font: normal 12px monaco, Georgia, Arial;
}

li span{
	color: rgb( 106, 152, 60);
}

li span:before
{
	content:" : ";
	color: #999;
}

button {
	z-index: 1;
	width: 120px;
	position: absolute;
	bottom: 0px;
	right: 50%;
	margin-right: -60px;
}

#footer{
	color: #888;
}

#footer cite{
	color: #c55;
}
